<%- include ("partials/header.ejs") %>
<div class="ui main text container segment">
    <h1 class="ui huge header">Edit <%= blog.name %></h1>
    <form class="ui form" action="/blogs/<%= blog._id %>?_method=PUT" method="post">
        <div class="field">
            <label>Name</label>
            <input type="text" name="blog[name]" value="<%= blog.name %>">
        </div>
        <div class="field">
            <label>Image</label>
            <input type="text" name="blog[image]" value="<%= blog.image %>">
        </div>
        <div class="field">
            <label>Blog Content</label>
            <textarea name="blog[body]" cols="30" rows="5"><%= blog.body %></textarea>
            <!-- <input type="text" name="blog[body]" placeholder="write something"> -->
        </div>
        <div> 
            <input class="ui voilet big basic button" type="submit">
        </div>
       
    </form>
</div>
<%- include ("partials/footer.ejs") %>
